.about {
  &__image {
    height: 200px;
    display: block;
    margin: 60px auto;
  }

  &__content {
    @media screen and (min-width: $tablet) {
      padding: 0 0 0 20px;
    }
  }

  h2 {
    color: #163963;
  }
}
