.banner {
    position: relative;
    height: 300px;
    max-width: 1160px;
    margin: 206px auto 0;
    padding: $S;
    background: url("img/hero2.webp") left center no-repeat;
    background-size: contain;


    @media only screen and (min-width: $tablet) {
        height: 400px;
    }

    @media only screen and (min-width: $desktop) {
        height: 500px;
    }

    @media only screen and (min-width: 1200px) {
        height: 500px;
    }

    &__news {
        position: absolute;
        right: 0;
        bottom: -80px;
        width: 100%;
        padding: $S;
        background: rgba(255,255,255,.4);
        box-shadow: 0 0 12px rgba(136,136,136,0.1);

        @media only screen and (min-width: $tablet) {
            right: $M;
            bottom: 70px;
            padding: $M;
            width: 100%;
            max-width: 450px;
        }
    }
}
