.banner {
    position: relative;
    height: 300px;
    max-width: 1300px;
    margin: 0 auto;
    padding: $M;
    background: url("https://images.unsplash.com/photo-1575304368308-89e792e6f9f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80") center;
    background-size: cover;


    @media only screen and (min-width: $tablet) {
        height: 400px;
    }

    @media only screen and (min-width: $desktop) {
        height: 500px;
    }

    @media only screen and (min-width: 1200px) {
        height: 500px;
    }

    &__news {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        padding: $S;
        background: rgba(0,0,0,.4);
        color: $white;

        @media only screen and (min-width: $tablet) {
            right: $M;
            bottom: $M;
            padding: $M;
            width: 100%;
            max-width: 500px;
        }
    }
}
