.banner {
    position: relative;
    height: 280px;
    max-width: 1160px;
    margin: 138px auto 160px;
    padding: $S;
    background: url("img/hero2.webp") center no-repeat;
    background-size: contain;

    @media only screen and (min-width: $tablet) {
        height: 400px;
        margin-bottom: 0;
        background-position: left center;
    }

    @media only screen and (min-width: $desktop) {
        margin-top: 176px;
    }

    @media only screen and (min-width: 1367px) {
        height: 450px;
    }

    &__news {
        position: absolute;
        right: 0;
        bottom: -160px;
        width: 100%;
        background-color: rgba(255,255,255,.8);
        box-shadow: 0 0 12px rgba(136,136,136,0.1);

        @media only screen and (min-width: $tablet) {
            right: $M;
            bottom: 70px;
            width: 100%;
            max-width: 450px;
            box-shadow: 0 0 8px rgba(237,156,14,0.6);
            border: 6px solid #F59B10;
        }
    }

    &__inner-news {
        padding: $M;

        @media only screen and (min-width: $tablet) {
            padding: $M;
            border: 6px solid #FFC42B;
        }
    }

    &__link {
        display: block;
        margin-top: $XS;
        color: $blue;
        font-weight: bold;
    }
}
