body {
  margin: 0;
  font-size: $text-size;
  color: $text-main-color;
  line-height: 1.44;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

section {
  padding: 80px 0;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5 {
  margin: 0 0 $S 0;
  line-height: 1.22;
  font-weight: 600;
}

h1 {
  font-size: $h1-size;
}

h2 {
  font-size: $h2-size;
}

h3 {
  font-size: $h3-size;
}

h4 {
  font-size: $h4-size;
}

h5 {
  margin: 0;
  font-size: $h5-size;
}

p {
  line-height: 1.4;
  margin: 0.4rem 0;
}

a {
  text-decoration: none;
  color: $text-main-color;
}

strong {
  font-weight: 600;
}

ul, ol {
  margin: 0 0 0 $S;
  padding: 0;
}

iframe {
  border: 0;
}git


/*.textwidget {
  p {
    color: #fff;
  }
}*/

/*
.widgettitle {
  color: #fff;
}
*/
