body {
  margin: 0;
  font-size: $text-size;
  color: $text-main-color;
  line-height: 1.44;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}


section {
  padding: 80px 0;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5 {
  margin: 0 0 $S 0;
  line-height: 1.22;
  font-weight: 500;
}

h1 {
  font-size: $h1-size;
}

h2 {
  font-size: $h2-size;
}

h3 {
  font-size: $h3-size;
}

h4 {
  font-size: $h4-size;
}

h5 {
  font-size: $h5-size;
}

p {
  line-height: 1.4;
  margin: 0.4rem;
}

a {
  text-decoration: none;
  color: $text-main-color;
}

ul, ol {
  margin: 0 0 0 $S;
  padding: 0;
}

strong {
  font-weight: 500;
}

iframe {
  border: 0;
}

label {
  // font-size: $text-size;
}

input, textarea {
  border: #384a5f 1px solid;
  border-radius: 2px;
  padding: 5px 10px;
  // font-size: $text-size;
  font-family: "Raleway", "Helvetica Neue", Helvetica, sans-serif;
  width: 90%;
}

input[type="submit"] {
  width: 120px;
  height: 30px;
  padding: 5px 20px;
  border: none;
  //background: $fire;
  color: #FFF;
  box-shadow: none;
  cursor: pointer;
}

form {
  p {
    margin: 0 0 10px 0;
  }
}


select::-ms-expand {
  display: none; //IE11
}

/* Firefox - removes outline */
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 $text-main-color;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}




/*.textwidget {
  p {
    color: #fff;
  }
}*/

/*
.widgettitle {
  color: #fff;
}
*/







.header {
  &__top {
    display: flex;
    height: 54px;
    align-items: center;
    background: #163963;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
  }

  &__contact-wrapper {
    display: inline-flex;
    align-items: center;

    &--first {
      padding-right: $S;
      border-right: solid 1px #fff;
    }

    &--last {
      padding-left: $S;
    }
  }

  &__contact-link {
    color: #fff;
    transition: all .3s ease-in-out 0s;

    &:hover {
      color: $secondary;
    }
  }

  &__contact-icon {
    margin-right: $XS;
  }

  &__middle {
    display: flex;
    align-items: center;
    height: 100px;
    background: #fff;
  }

  &__container {
    display: flex;
    height: 100%;
    align-items: center;
  }

  &__logo {
    display: flex;
    height: 36px;
  }

  &__nav {
    display: flex;
    color: #2b2b2b;
  }

  &__bottom {
    height: calc(100vh - 254px);
    min-height: 550px;
    max-height: 660px;
    background: url("img/bg1.jpg") top;
    background-size: cover;
  }
}
