@import 'variables';

button, .button {
  display: inline-flex;
  align-items: center;
  height: 44px;
  padding: 0 $M;
  margin-top: $S;
  border: none;
  border-radius: 0.25rem;
  background: #163963;
  font-size: $text-size;
  color: #fff;
  cursor: pointer;
  transition: all .3s ease-in-out 0s;

  &:hover {
    background: $secondary;

  }
}
