.card {
    padding: 0;
    background: #fbfbfb;

    &__item {
        display: flex;
        flex-direction: column;
        height: 100%;
        box-shadow: 0 0 12px rgba(136,136,136,0.1);
        background: $white;
        text-align: center;
        color: $text-main-color;
        transition: all 0.3s ease-in-out 0s;

        &:hover:not(.card__item--basic) {
            transform: scale(1.04);
            background: $primary;
            color: $white;

            .card__link {
                color: $white;
            }
        }

        &--basic {
            padding: $S;
        }
    }

    &__image {
        width: 100%;
        height: 200px;
        object-fit: cover;
        clip-path: polygon(100% 0, 100% 180px, 0 100%, 0 0);
    }

    &__content {
        margin: 30px;
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    &__header {

    }

    &__text {
        display: flex;
        flex-grow: 1;
    }

    &__link {
        margin-top: $M;
        color: $primary;
        font-weight: bold;
        transition: all 0.3s ease-in-out 0s;
    }
}
