.footer {
  padding: 30px 0 10px 0;
  background: #404756;
  color: #fff;

  &__title {
    margin-bottom: 10px;
  }

  &__paragraph {
    &--first {
      margin: 0;
    }
  }

  &__list {
    font-size: 14px;
  }

  &__link {
    font-size: 14px;
    color: #fff;
  }

  &__copyright {
    margin-top: 30px;
    font-size: 14px;
    text-align: center;
  }

  &__createdby {
    display: block;
  }

  @media screen and (min-width: $tablet) {
    .col:first-child {
      border-right: 1px solid $white;
    }
  }
}
