input, textarea {
  border: $gray-light 1px solid;
  border-radius: 2px;
  padding: 5px $XS;
  font-size: $text-size;
  font-family: "Raleway", "Helvetica Neue", Helvetica, sans-serif;
  max-width: 300px;
}

form {
  p {
    margin: 0 0 $XS 0;
  }
}

.screen-reader-response {
  margin-bottom: $S;
}

.wpcf7-mail-sent-ok {
  color: $green;
}

.wpcf7-not-valid-tip, .wpcf7-validation-errors {
  display: flex;
  color: $red
}
