.offer {
  padding: 0;
  background: #fbfbfb;

  .col {
    padding: 0;
  }

  &__header {
    margin-top: $margin;
  }

  &__item {
    display: flex;
    position: relative;
    top: -40px;
    margin-bottom: $M;
    background: $white;
    box-shadow: 0 0 12px rgba(136, 136, 136, 0.1);
    padding: 30px 15px;
    overflow: hidden;
    border-radius: 4px;
    min-height: 136px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease-in-out 0s;

    :last-child {
      margin-bottom: 0;
    }

    @media screen and (min-width: $tablet) {
      margin-bottom: 0;
    }

    &:hover {
      background: $primary;
      color: $white;

      .offer__svg-group {
        fill: $secondary;
      }
    }
  }

  &__image {
    width: 50px;
    height: 50px;
  }

  &__svg-group {
    fill: $primary;
    transition: all .3s ease-in-out 0s;
  }

  @media screen and (min-width: $tablet) {
    .row:last-child {
      margin-top: $M;
    }
  }
}


.about {
  background: #fbfbfb;

  &__image {
    object-fit: cover;
    flex-grow: 1;
  }

  &__button {
    width: calc(100% - #{2 * $M});
    justify-content: center;
  }

  h2 {
    color: #163963;
  }
}


.partners {
  &__header {
    text-transform: uppercase;
    text-align: center;
  }

  &__logos {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $tablet) {
      flex-direction: row;
    }

    align-items: center;
    justify-content: space-between;
    margin-top: $margin;
  }

  &__logo {
    margin-bottom: $M;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (min-width: $tablet) {
      margin-bottom: 0;
    }

    &--small {
      height: 30px;
    }

    &--medium {
      height: 40px;
    }

    &--big {
      height: 50px;
    }
  }
}
