.offer {
  padding: 0;
  background: #fbfbfb;

  .c {
    padding: 0;
  }

  &__header {
    margin-top: $margin;
  }

  &__item {
    display: flex;
    position: relative;
    top: -40px;
    background: #fff;
    box-shadow: 0 0 12px rgba(136, 136, 136, 0.1);
    padding: 30px 15px;
    overflow: hidden;
    border-radius: 4px;
    min-height: 136px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease-in-out 0s;

    &:hover {
      background: $primary;
      color: #fff;

      svg g {
        fill: $secondary;
      }
    }

    svg {
      width: 50px;
      height: 50px;

      g {
        fill: $primary;
        transition: all .3s ease-in-out 0s;
      }
    }
  }
}


.about {
  background: #fbfbfb;

  h2 {
    color: #163963;
  }
}


.partners {
  &__header {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
  }

  &__logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: $margin;
  }

  &__logo-small {
    height: 30px;
  }

  &__logo-medium {
    height: 40px;
  }

  &__logo-big {
    height: 50px;
  }
}
