.header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;

  &__container {
    display: flex;
  }

  &__top {
    display: flex;
    height: $navigation-top-height;
    align-items: center;
    background: #163963;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
  }

  &__contact-wrapper {
    align-items: center;

    &--first {
      padding-right: $S;
      border-right: solid 1px $white;
    }

    &--last {
      padding-left: $S;
    }

    &--mobile {
      display: inline-flex;

      @media only screen and (min-width: $tablet) {
        display: none;
      }
    }

    &--desktop {
      display: none;

      @media only screen and (min-width: $tablet) {
        display: inline-flex;
      }
    }
  }

  &__contact-link {
    display: inline-flex;
    color: #fff;
    transition: all .3s ease-in-out 0s;

    &:hover {
      color: $secondary;
    }
  }

  &__contact-icon {
    margin-right: $XS;
  }

  &__fb {
    display: flex;
    margin-left: auto;
  }

  &__fb-icon {
    width: 26px;
  }

  &__middle {
    display: flex;
    align-items: center;
    height: 70px;
    background: #fff;

    @media only screen and (min-width: $desktop) {
      height: 100px;
    }
  }

  &__container {
    display: flex;
    height: 100%;
    align-items: center;
  }

  &__logo {
    display: flex;
    height: 36px;
  }

  &__nav {
    display: flex;
    color: #2b2b2b;
  }
}




.banner {
  position: relative;
  height: 300px;
  max-width: 1920px;
  margin: 0 auto;
  padding: $M;
  background: url("img/bg1.webp") top;
  background-size: cover;

  @media only screen and (min-width: $tablet) {
    height: 400px;
  }

  @media only screen and (min-width: $desktop) {
    height: 640px;
  }

  &__news {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: $S;
    background: rgba(0,0,0,.4);
    color: $white;

    @media only screen and (min-width: $tablet) {
      right: $M;
      bottom: $M;
      padding: $M;
      max-width: 500px;
    }
  }
}
