.subpage-top {
  padding: $M 0 0;

  .attachment-post-thumbnail {
    width: auto;
    height: 120px;

    @include for-size(tablet) {
      margin-right: $M;
    }
  }

  &__img {
    max-height: 300px;

    @include for-size(tablet) {
      margin-right: $M;
    }
  }

  &__back {
    display: block;
    margin: $S 0 $M;
    font-weight: bold;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include for-size(tablet) {
      flex-direction: row;
      margin-bottom: $S;
    }
  }

  &__inner {
    align-self: flex-start;
    margin-bottom: $S;

    @include for-size(tablet) {
      align-self: auto;
      margin-bottom: 0;
    }
  }

  &__headers {
    align-self: flex-start;

    @include for-size(tablet) {
      align-self: auto;
    }
  }

  &__header {
    margin: $S 0 $XS;

    @include for-size(tablet) {
      margin: 0 0 $XS;
    }

    &--margin {
      margin-bottom: $XS;
    }
  }

  &__subheader {
    font-size: 16px;
    font-weight: 300;
  }
}

.subpage {
  padding-top: $S;

  h2 {
    margin-top: $M;
  }
}
