.subpage-top {
  padding: 0;

  .attachment-post-thumbnail {
    width: auto;
    height: 120px;
    margin-right: $S;
  }

  &__img {
    height: 200px;
    margin-right: $S;
  }

  &__back {
    display: block;
    margin: $S 0 $M;
    font-weight: bold;
  }

  &__container {
    display: flex;
    align-items: center;
    margin-bottom: $S;
  }

  &__header {
    margin-bottom: 0;

    &--margin {
      margin-bottom: $XS;
    }
  }
}

.subpage {
  padding-top: $S;

  h2 {
    margin-top: $M;
  }
}
