.partners {
  &__header {
    //text-transform: uppercase;
    text-align: center;
    color: $blue;
  }

  &__logos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: $margin -#{$S} 0;

    @media screen and (min-width: $tablet) {
      flex-direction: row;
    }
  }

  &__logo {
    margin: $S $S $M;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (min-width: $tablet) {
      margin-bottom: 0;
    }

    &--small {
      height: 30px;
    }

    &--medium {
      height: 40px;
    }

    &--big {
      height: 50px;
    }
  }
}
