@media screen and (min-width: $tablet) {
  .col {
    flex: 1;
  }

  .offer .col:nth-child(2) {
    margin: 0 $M/2 0 $M;
  }

  .offer .col:nth-child(3) {
    margin: 0 $M 0 $M/2;
  }

  .offer {
    h4 {
      margin-bottom: 0;
    }
  }
}
