/* Spacing */
$XS: 10px;
$S: 20px;
$M: 30px;
$L: 60px;
$XL: 80px;
$XXL: 120px;

/* Sizes */
$navigation-height: 70px;

/* Colors */
$text-main-color: #384a5f;
$header-color: #384a5f;
$fire: #E46015;
$water: #67b0d6;
$ground: #75C397;
$wind: #A4A3A2;


$main: #4A90E2;
$secondary: #f7fbff;
$third: #384A5F;

/* Fonts */
$paragraph-size: 18px;
$h1-size: 36px;
$h2-size: 34px;
$h3-size: 32px;
$h4-size: 24px;
$h5-size: 16px;

/* Resolutions */
$desktop: 1024px;
$tablet: 768px;