/* Spacing */
$XS: 10px;
$S: 20px;
$M: 30px;
$L: 60px;
$XL: 80px;
$XXL: 120px;

$margin: $S;
$margin-small: $XS;

/* Sizes */
$navigation-height: 70px;
$navigation-top-height: 48px;

/* Colors */
$blue: #163963;
//$blue-light: #E4002B;
$blue-light: #03a8f3;
$dark: #2b2b2b;
$gray: #384a5f;
$white: #fff;

$primary: $blue;
$secondary: $blue-light;
$tertiary: $gray;

$header-color: $tertiary;
$text-main-color: $dark;

/* Fonts */
$text-size: 1rem;
$h1-size: 28px;
$h2-size: 24px;
$h3-size: 20px;
$h4-size: 18px;
$h5-size: 16px;

/* Resolutions */
$desktop: 1024px;
$tablet: 768px;


// Mixins
@mixin for-size($size) {
    @if $size == tablet {
        @media (min-width: 768px) { @content; }
    } @else if $size == tablet-landscape {
        @media (min-width: 992px) { @content; }
    } @else if $size == desktop {
        @media (min-width: 1200px) { @content; }
    }
}

