## Begin EXPIRES CACHING - WpFASTER ##
<filesMatch ".(css|jpg|jpeg|png|gif|js|ico|woff|woff2|ttf)$">
Header set Cache-Control "max-age=2592000, public"
</filesMatch>
## End EXPIRES CACHING - WpFASTER ##

# BEGIN WordPress
# Dyrektywy zawarte między `BEGIN WordPress` oraz `END WordPress`
# są generowane dynamicznie i powinny być modyfikowane tylko za pomocą
# filtrów WordPressa. Zmiany dokonane bezpośrednio tutaj będą nadpisywane.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress